@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&family=Roboto:ital@1&display=swap');

.Container {
  min-height: 100%;
  display: flex;
  flex-flow: row wrap;
}

.Container div {
  flex: 1;
  padding: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.Container #preview {
  flex-direction: column;
  justify-content: start;
  font-family: 'Roboto', sans-serif;
}

.Container #preview code {
  font-family: 'Roboto Mono', monospace;  
}

.Container div textarea {
  min-width: 100%;
  min-height: 100%;
  resize: none;
  box-sizing: border-box;
  font-family: 'Roboto Mono', monospace;
}

#root, html, body {
  margin: 0;
  height: 100%;
}

@media all and (max-width: 800px) {
  .Container {
      flex-flow: column wrap;
  }
}